<div class="container-fluid py-5">
    <div class="container p-0">
        <div class="text-center pb-2">
            <p class="section-title px-5"><span class="px-2">Testemunho</span></p>
            <h1 class="mb-4">O que os pais dizem!</h1>
        </div>
        <div class="testimonial-carousel">
          
            <div class="testimonial-item px-3">
                <div class="d-flex align-items-center">
                    <img class="rounded-circle" src="assets/img/testemunho-1.jpg" style="width: 70px; height: 70px;" alt="Image">
                    <div class="pl-3">
                        <h5>Estefania</h5>
                        <i> Mamãe da carla</i>
                    </div>
                </div>
                <div class="bg-light shadow-sm rounded mb-4 p-4">
                    <h3 class="fas fa-quote-left text-primary mr-3"></h3>
                    forma crianças através de um projeto pedagógico incrível, num ambiente lúdico e acolhedor, com profissionais super qualificados.
                </div>
               
            </div>
            <div class="testimonial-item px-3">
                <div class="bg-light shadow-sm rounded mb-4 p-4">
  <div class="d-flex align-items-center">
                    <img class="rounded-circle" src="assets/img/testemunho-1.jpg" style="width: 70px; height: 70px;" alt="Image">
                    <div class="pl-3">
                        <h5>Beatriz</h5>
                        <i> Mamãe da Rita</i>
                    </div>
                </div>
                    <h3 class="fas fa-quote-left text-primary mr-3"></h3>
                    
                    amor à primeira vista, até nos mudamos pra ficar mais perto. Temos muito carinho pela escola e por toda a equipe.
                </div>
               
            </div>
            <div class="testimonial-item px-3">
  <div class="d-flex align-items-center">
                    <img class="rounded-circle" src="assets/img/testemunho-1.jpg" style="width: 70px; height: 70px;" alt="Image">
                    <div class="pl-3">
                        <h5>Paulo</h5>
                        <i> pai da Camile</i>
                    </div>
                </div>
                <div class="bg-light shadow-sm rounded mb-4 p-4">
                    <h3 class="fas fa-quote-left text-primary mr-3"></h3>
                    pudesse trabalhar tranquila, sabendo que o meu filho fosse tratado com carinho e dedicação. A Referência superou todas as minhas expectativas,
                </div>
               
            </div>
            <div class="testimonial-item px-3">
  <div class="d-flex align-items-center">
                    <img class="rounded-circle" src="assets/img/testemunho-1.jpg" style="width: 70px; height: 70px;" alt="Image">
                    <div class="pl-3">
                        <h5>Ruth</h5>
                        <i> Mamãe do Fanio</i>
                    </div>
                </div>
                <div class="bg-light shadow-sm rounded mb-4 p-4">
                    <h3 class="fas fa-quote-left text-primary mr-3"></h3>
                    Ele vibra quando passamos em frente à escola e quer entrar mesmo nos fins de semana. Ele ama!! Estamos muito felizes!
                </div>
               
            </div>
        </div>
    </div>
</div>