<div class="footer_bg">
 <!-- Footer Start -->
 <div class="container-fluid bg-secondary text-white mt-5 py-5 px-sm-3 px-md-5">
  <div class="row pt-5">
      <div class="col-lg-3 col-md-6 mb-5">
          <a href="" class="navbar-brand font-weight-bold text-primary m-0 mb-4 p-0" style="font-size: 40px; line-height: 40px;">
              <i class="">
                  <img src="assets/img/logo.png" alt="" style="width: 75px; height: 75px;"srcset="">
              </i> 
          </a>
          <p>
              Cuidar do seu filho é o mais importante do nosso trabalho, sabemos a importância de pais tranquilos e satisfeitos </p>
          <div class="d-flex justify-content-start mt-4">
              <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
                  style="width: 38px; height: 38px;" href="#"><i class="fab fa-twitter"></i></a>
              <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
                  style="width: 38px; height: 38px;" href="#"><i class="fab fa-facebook-f"></i></a>
              <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
                  style="width: 38px; height: 38px;" href="#"><i class="fab fa-linkedin-in"></i></a>
              <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
                  style="width: 38px; height: 38px;" href="#"><i class="fab fa-instagram"></i></a>
          </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-5">
          <h3 class="text-primary mb-4">Entrar em contato</h3>
          <div class="d-flex">
              <h4 class="fa fa-map-marker-alt text-primary"></h4>
              <div class="pl-3">
                  <h5 class="text-white">Endereço</h5>
                  <p>Gameck rua dos brasileiro</p>
              </div>
          </div>
          <div class="d-flex">
              <h4 class="fa fa-envelope text-primary"></h4>
              <div class="pl-3">
                  <h5 class="text-white">Email</h5>
                  <p>joaquimmigueldecristo@gmail.com</p>
              </div>
          </div>
          <div class="d-flex">
              <h4 class="fa fa-phone-alt text-primary"></h4>
              <div class="pl-3">
                  <h5 class="text-white">Telefone</h5>
                  <p>+244 944064769 / 997616181</p>
              </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-5">
          <h3 class="text-primary mb-4">Links Rápidos</h3>
          <div class="d-flex flex-column justify-content-start">
              <a class="text-white mb-2" href="#/"><i class="fa fa-angle-right mr-2"></i>Home</a>
              <a class="text-white mb-2" href="#/sobre"><i class="fa fa-angle-right mr-2"></i>Sobre nos</a>
              <a class="text-white mb-2" href="#/equipe"><i class="fa fa-angle-right mr-2"></i>Nossa Equipa</a>
              <a class="text-white mb-2" href="#/galeria"><i class="fa fa-angle-right mr-2"></i>Galeria</a> 
              <a class="text-white" href="#/contacto"><i class="fa fa-angle-right mr-2"></i>Contato</a> 
          </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-5">
          <h3 class="text-primary mb-4">Projetado por</h3>
          <div class="d-flex flex-column justify-content-start">
            <h5 class="text-white">Joaquim Silva</h5>
 
            <div class="d-flex justify-content-start mt-2"> 
                <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
                    style="width: 38px; height: 38px;" href="#"><i class="fa-brands fa-whatsapp"></i></a>
                <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
                    style="width: 38px; height: 38px;" href="#"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
                    style="width: 38px; height: 38px;" href="#"><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
                    style="width: 38px; height: 38px;" href="#"><i class="fab fa-github"></i></a>
          
                </div>
              <div class="d-flex mt-2">
                <div class="pl-3">
                    <p>chama-me na rede que mas te agradar</p>
                </div>
            </div>
            
        </div>
          
      </div>
  </div>
  <div class="container-fluid pt-5" style="border-top: 1px solid rgba(23, 162, 184, .2);;">
      <p class="m-0 text-center text-white">
          &copy; <a class="text-primary font-weight-bold" href="#">
            <span class="aa">A</span><span class="mm">m</span><span class="ii">i</span><span class="gg">g</span><span class="uu">u</span><span class="i">i</span><span class="nn">n</span><span class="hh">h</span><span class="oo">o</span><span class="ss">s</span> 
            <span class="dd">d</span><span class="ee">e</span>  Jesus
          </a>. Todos os direitos reservados. Projetado
          por
          <a class="text-primary font-weight-bold" target="_blank" href="https://ellsilva.github.io/portifolio/#/">Joaquim Silva</a>
      </p>
  </div>
</div>
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-primary p-3 back-to-top"><i class="fa fa-angle-double-up"></i></a>

</div>