 <!-- Facilities Start -->
 <div class="container-fluid pt-5">
  <div class="container pb-3">
      <div class="row">
       
          <div class="col-lg-4 col-md-6 pb-1">
              <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px; height: 100%;">
                  <i class="flaticon-022-drum h1 font-weight-normal text-primary mb-3"></i>
                  <div class="pl-4">
                      <h4>Musica e dança</h4>
                      <p class="m-0">
                          A música no desenvolvimento infantil contribui para a integração da sensibilidade e da razão, colabora com a comunicação, expressão corporal e socialização, estimula a concentração e a memória, além de ser uma ótima forma para as crianças brincarem e se divertirem....</p>
                  </div>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 pb-1">
              <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px; height: 100%;">
                  <i class="flaticon-030-crayons h1 font-weight-normal text-primary mb-3"></i>
                  <div class="pl-4">
                      <h4>Artes e Ofícios</h4>
                      <p class="m-0">
                          Através da realização de atividades artísticas a criança desenvolve sentimentos, auto-estima, capacidade de representar o simbólico, analisando, avaliando e fazendo interpretações, desenvolvendo habilidades específicas da área das artes....</p>
                  </div>
              </div>
          </div>
          
          <div class="col-lg-4 col-md-6 pb-1">
              <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px; height: 100%;">
                  <i class="flaticon-025-sandwich h1 font-weight-normal text-primary mb-3"></i>
                  <div class="pl-4">
                      <h4>Comida saudável</h4>
                      <p class="m-0">
                          A alimentação saudável é fundamental para garantir
                          a saúde e o bom crescimento e desenvolvimento de uma criança. É o que proporciona bem-estar, saúde, inteligência e aquela energia gostosa.....</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 pb-1">
              <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px; height: 100%;">
                  <i class="flaticon-047-backpack h1 font-weight-normal text-primary mb-3"></i>
                  <div class="pl-4">
                      <h4>Tour Educativo</h4>
                      <p class="m-0">Estamos sempre preocupados e atentos as demandas de cada criança e de cada família, para que a criança se desenvolva realizamos varias atividade ao ar livre e Tour Educativo para uma melhor educação e auto-conhecimento....</p>
                  </div>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 pb-1">
            <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px; height: 100%;">
                <i class="flaticon-047-backpack h1 font-weight-normal text-primary mb-3"></i>
                <div class="pl-4">
                    <h4>ATL</h4>
                    <p class="m-0">
                        O A.T.L. (Atividades de Tempos Livres) é um espaço educativo com atividades lúdicas e socioculturais destinadas a crianças com idades compreendidas entre os 6 e os 12 anos que frequentem a Escola do Ensino Básico.....
                    </p>
                </div>
            </div>
        </div>
      </div>
  </div>
</div>
<!-- Facilities Start -->