<div> 
    <div class="container-fluid bg-primary mb-5">
        <div class="d-flex flex-column align-items-center
            justify-content-center" style="min-height: 400px">
            <h3 class="display-3 font-weight-bold text-white">Saiba mas Sobre
                <span class="aa">A</span><span class="mm">m</span><span
                    class="ii">i</span><span class="gg">g</span><span
                    class="uu">u</span><span class="i">i</span><span class="nn">n</span><span
                    class="hh">h</span><span class="oo">o</span><span
                    class="ss">s</span>
                <span class="dd">d</span><span class="ee">e</span> Jesus
            </h3>
            <div class="d-inline-flex text-white">
                <p class="m-0"><a class="text-white" href="#/">Home</a></p>
                <p class="m-0 px-2">/</p>
                <p class="m-0">Sobre nos</p>
            </div>
        </div>
    </div> 

    <c-sobre> </c-sobre>

    <div class="container-fluid py-5">
      <div class="container p-0">
         
                  <div class="row features">
                    <div class="col-sm-6 col-md-4 item"> 
                      <h3 class="name"><strong>Actividades dirigidas&nbsp;</strong></h3> 
                      <ul class="">
                        <li class="py-2 border-top border-bottom"><i class="fa fa-check text-primary mr-3"></i>Meio Fisica e Social</li>
                        <li class="py-2 border-bottom"><i class="fa fa-check text-primary mr-3"></i>Expressão plástica </li>
                        <li class="py-2 border-bottom"><i class="fa fa-check text-primary mr-3"></i>Expressão musical  </li>
                        <li class="py-2 border-bottom"><i class="fa fa-check text-primary mr-3"></i> Expressão matematica </li>
                        <li class="py-2 border-bottom"><i class="fa fa-check text-primary mr-3"></i> Psicomotricidade</li>
                        <li class="py-2 border-bottom"><i class="fa fa-check text-primary mr-3"></i>Representação linguistica </li>
                        
                    </ul>
                    </div>
                    <div class="col-sm-6 col-md-4 item"> 
                      <h3 class="name"><strong>Actividades Independente</strong></h3>
                      <ul class="">
                        <li class="py-2 border-top border-bottom"><i class="fa fa-check text-primary mr-3"></i>Jogos psicomotores</li>
                        <li class="py-2 border-bottom"><i class="fa fa-check text-primary mr-3"></i>Contação de Historias  </li>
                        <li class="py-2 border-bottom"><i class="fa fa-check text-primary mr-3"></i>Roda de conversa </li>
                        <li class="py-2 border-bottom"><i class="fa fa-check text-primary mr-3"></i>Brincadeiras</li>
                        <li class="py-2 border-bottom"><i class="fa fa-check text-primary mr-3"></i>Poesias </li>
                        <li class="py-2 border-bottom"><i class="fa fa-check text-primary mr-3"></i>Cantinho; cine infantil </li>
                        <li class="py-2 border-bottom"><i class="fa fa-check text-primary mr-3"></i>Estudo da Natureza </li>
                        <li class="py-2 border-bottom"><i class="fa fa-check text-primary mr-3"></i>Familia </li>
                        <li class="py-2 border-bottom"><i class="fa fa-check text-primary mr-3"></i>Medicina</li>
                       <p style="color: rgb(129, 176, 221);">e muito mais  </p>
                      </ul>

                    </div>
                    <div class="col-sm-6 col-md-4 item"> 
                      <h3 class="name"><strong>Actividades extra curiculares</strong></h3>
                      <ul class="">
                        <li class="py-2 border-top border-bottom"><i class="fa fa-check text-primary mr-3"></i>Aulas de inglês </li>
                        <li class="py-2 border-bottom"><i class="fa fa-check text-primary mr-3"></i>Programa de rotina semanal</li>
                        <li class="py-2 border-bottom"><i class="fa fa-check text-primary mr-3"></i>Aulas e educação academica</li>
                        <li class="py-2 border-bottom"><i class="fa fa-check text-primary mr-3"></i>Esporte e atividade fisica.</li>
                    </ul>
                    </div>
                  </div>
                </div>
                <div> 

      </div>
  </div>


    <div class="container-fluid py-5">
        <div class="container p-0">
            <div class="text-center pb-2">
                <p class="section-title px-5"><span class="px-2">NOSSOS VALORES</span></p>
                <h1 class="mb-4">Conheça nossos valor!</h1>
            </div> 
                    <div class="row features">
                      <div class="col-sm-6 col-md-4 item">
                        <i class="fa fa-star icon fa-3x valor_icon" ></i>
                        <h3 class="name"><strong>Missão&nbsp;</strong></h3>
                        <p class="description">
                          Profissionalização em educação e infância, respeitando sempre os direitos das crianças com fim o desenvolvimento integral das crianças,
                           em seus aspecto físico psicológico, intelectual e social, completando a ação da família e da comunidade 
                        </p>
                      </div>
                      <div class="col-sm-6 col-md-4 item">
                        <i class="fa fa-eye icon fa-3x valor_icon" ></i>
                        <h3 class="name"><strong>Visão</strong></h3>
                        <p class="description">
                          Atuamos sempre com excelência, alcançar metas que nos permite sempre ser uma entidade viável e de prestigio no mercado 
                          
                        </p>
                      </div>
                      <div class="col-sm-6 col-md-4 item">
                        <i class="fa fa-handshake fa-3x valor_icon" ></i>
                        <h3 class="name"><strong>Valores</strong></h3>
                        <p class="description">Inovação, proximidade e suporte.</p>
                        <p class="description">
                          <br>Nossa equipa de trabalho consiste em profissionais qualificados para lhe dar total atenção.
        
        
                          <br><br>
                        </p>
                      </div>
                    </div>
                  </div> 
                  <div> 

        </div>
    </div>

 

    <c-equipe> </c-equipe>

    <c-testemunho> </c-testemunho>



</div>